In [0]:
#load the data into databricks
df = spark.read.csv("/FileStore/tables/banking_transactions_data.csv", header=True, inferSchema=True)
df.show()

+--------------+-----------+----------+------+--------------------+---------------+----------------+----------------+------------------+
|TRANSACTION_ID|CUSTOMER_ID|DATE_BIRTH|GENDER|       CUST_LOCATION|ACCOUNT_BALANCE|TRANSACTION_DATE|TRANSACTION_TIME|TRANSACTION_AMOUNT|
+--------------+-----------+----------+------+--------------------+---------------+----------------+----------------+------------------+
|          T244|   C4531588|  93-10-31|     F|               DELHI|        2257.58|      2021-10-16|          145417|             460.0|
|          T245|   C5528968|  00-01-01|     M|            PIPARIYA|         5724.5|      2021-10-16|          145424|            4478.0|
|          T246|   C4814390|  71-10-01|     F|         MIRA ROAD E|       78122.46|      2021-10-16|          150436|           47290.0|
|          T247|   C6437438|  83-05-22|     F|        BHUBANESHWAR|       324551.5|      2021-10-16|          151154|           25000.0|
|          T248|   C8738676|  00-01-01|     M|             RAJPURA|      362200.72|      2021-10-16|          151251|           53000.0|
|          T249|   C1812573|  87-01-14|     F|          SAHARANPUR|       41268.37|      2021-10-16|          151201|              35.0|
|          T250|   C8915718|  86-06-26|     F|           PANCHKULA|       22802.23|      2021-10-16|          145515|             100.0|
|          T251|   C5334280|  74-08-20|     M|            ROURKELA|        13996.1|      2021-10-16|          155146|             100.0|
|          T252|   C5920074|  83-10-26|     F|           FARIDABAD|       48587.19|      2021-10-16|          150848|            1595.0|
|          T253|   C1733292|  89-11-04|     M|             CHENNAI|      174684.91|      2021-10-16|          150848|             283.0|
|          T254|   C6230681|  89-11-19|     F|           BANGALORE|        7948.27|      2021-10-16|          171343|              68.0|
|          T255|   C1977592|  93-10-30|     M|           JALANDHAR|      155684.44|      2021-10-16|          152514|            3034.5|
|          T256|   C4418491|  90-03-05|     F|               DELHI|       17555.91|      2021-10-16|          162522|             110.0|
|          T257|   C5212180|  86-03-18|     F|              MUMBAI|      168034.54|      2021-10-16|          161714|              10.0|
|          T258|   C5227319|  80-05-18|     F|         WEST MUMBAI|        4459.73|      2021-10-16|          152525|            2870.0|
|          T259|   C9016392|  90-08-24|     M|               DELHI|        9236.65|      2021-10-16|          164132|             259.0|
|          T260|   C3531473|  89-12-03|     M|             KOLKATA|       13592.65|      2021-10-16|          154628|           1128.37|
|          T261|   C7340149|  77-06-28|     M|             GWALIOR|      134969.65|      2021-10-16|          152653|            2200.0|
|          T262|   C8091089|  73-04-10|     M|              INDORE|        7967.47|      2021-10-16|          152237|             330.0|
|          T263|   C7878838|  00-01-01|     M|SECTOR 21 KHARGHA...|      444234.73|      2021-10-16|          145620|             201.0|
+--------------+-----------+----------+------+--------------------+---------------+----------------+----------------+------------------+
only showing top 20 rows

In [0]:
import pandas as pd
dfp = df.toPandas()

## Data validation
We will start by validating the data by analyzing the contents of the dataframe to compare to the same analysis done before the migration

In [0]:
#show number of entries (Expected = 250 000)
df.count()

250000

In [0]:
#show all features in the dataset (Expected = 9 features)
df.columns

['TRANSACTION_ID',
 'CUSTOMER_ID',
 'DATE_BIRTH',
 'GENDER',
 'CUST_LOCATION',
 'ACCOUNT_BALANCE',
 'TRANSACTION_DATE',
 'TRANSACTION_TIME',
 'TRANSACTION_AMOUNT']

In [0]:
# Show how many entries in top 5 cities
# Expected =
# MUMBAI = 24631
# BANGALORE = 20346
# NEW DELHI = 20090
# GURGAON = 17716
# DELHI = 16732)
df.groupby("CUST_LOCATION").count().orderBy("count", ascending=False).show(5)

+-------------+-----+
|CUST_LOCATION|count|
+-------------+-----+
|       MUMBAI|24631|
|    BANGALORE|20346|
|    NEW DELHI|20090|
|      GURGAON|17716|
|        DELHI|16732|
+-------------+-----+
only showing top 5 rows

In [0]:
# Average account balance (Expected = 109716.9143153)
dfp["ACCOUNT_BALANCE"].mean()

109716.9143153905

In [0]:
# Total amount spent (Expected = 400237664.81)
dfp["TRANSACTION_AMOUNT"].sum()

400237664.81

In [0]:
# how many male customers had an account balance of less than 2000 (Expected = 32477)
dfp.query("ACCOUNT_BALANCE < 2000 and GENDER == 'M'").shape[0]

32477

In [0]:
# What customer ID is associated with Transaction ID T246143 (Expected = C6562053)
dfp.query("TRANSACTION_ID == 'T246143'")["CUSTOMER_ID"]

249995    C6562053
Name: CUSTOMER_ID, dtype: object

## Store data in azure cloud
Next we will store the migrated data in a databricks cloud table.

In [0]:
# Store dataframe to a dtabricks delta table
df.write.format("delta").save("dbfs:/mnt/delta/banking_transaction")